
.quicksand-fonte-principal {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.league-spartan-fonte-titulos {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 600px) {
    #principal {
        display: flex;
        flex-direction: column;
    }

    footer div {
        flex-direction: column;
        align-content: center;
    }

    #imagens-rodape {
        display: block;
        margin: auto;
    }

    #texto-rodape {
        text-align: center;
        margin-right: 10%;
    }

    #imagem-cartas {
        display: block;
        margin: auto;
        width: 70%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
   header {
        flex-direction: column;
        align-items: center;
    }
}

body {
    background-image: url(imagens/fundo-mesa.jpg);
    color: #f0f0f0;
    font-size: larger;
    font-weight: bold;
    line-height: 1.6;
    padding: 20px;
    background-origin: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 8em;
    padding-right: 2%;
}

header {
    background-color: #2b304d;
    color: white;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    font-family: league spartan;
    width: 100%;
}

nav {
    background-color: #21253d;
    padding: 1% 0%;
    font-family: quicksand;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

nav ul li {
    padding: 0 3%;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

nav a:hover {
    color: #cdf0ff;
    text-decoration: underline;
}

.titulos-principais {
    font-family: league spartan;
    margin: auto;
    color: #f0f0f0;
    background-image: url("imagens/fundo-titulos.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 30%;
    padding: 2%;
}

main {
    font-family: quicksand;
    padding: 3%;
    margin: 0 10%;
}

article {
    padding: 2%;
}

#principal {
    display: flex;
}

.tabelas {
    border-collapse: collapse;
}

td {
    border: black 4px solid;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    background-color: #1e361d;
}

main h2 {
    margin-top: 5%;
    margin-bottom: 10px;
    color: #005fa3;
}

main p {
    margin-bottom: 15px;
    text-align: justify;
}

#inicial {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
}

.imagens-ilustrativas {
    border: black 2px solid;
    border-radius: 10px;
}

#imagem-principal {
    display: block;
    width: 50%;
    margin: auto;
}

#inicial p {
    font-size: medium;
    padding: 5%;
}

#tipos, #historia {
    font-family: league spartan;
    margin-top: 20px;
    color: #f0f0f0;
}

#historia::after {
    content: url(imagens/simbolo-espadas.png);
    width: 30px;
    display: inline-block;
    position: relative;
    top: 13px;
    padding-left: 5px;
}

#tipos::after {
    content: url(imagens/simbolo-coracoes.png);
    width: 30px;
    display: inline-block;
    position: relative;
    top: 13px;
    padding-left: 5px;
}

#imagem-cartas {
    display: block;
    margin: auto;
    width: 50%;
}
footer {
    margin-top: 2%;
    padding: 2% 0%;
    background-color: #a41010;
    color: white;
    font-family: quicksand;
    width: 100%;
}

#imagens-rodape {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
    padding-right: 10%;
    font-family: league spartan;
}

#imagens-rodape > h2 {
    position: relative;
    top: 180px;
    left: 50px
}

#logo-rodape {
transition: linear 600ms opacity;
opacity: 1;
}

#logo-rodape:hover {
    opacity: 0;
}

#texto-rodape {
    padding-left: 10%;
    position: relative;
    left: 0.5em;
}
footer div {
    display: flex;
    justify-content: center;
}

footer img {
    position: absolute;
    width: 13em;
    height: auto;
}
