
.quicksand-fonte-principal {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.league-spartan-fonte-titulos {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
    background-color: f0f0f0;
    color: black;
    line-height: 1.6;
    padding: 20px;
    background-color: #f0f0f0;
}

#logo {
    width: 100px;
    padding-right: 10px;
}

header {
    background-color: #2b304d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: league spartan;
}

nav {
    background-color: #21253d;
    padding: 5px;
    font-family: quicksand;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

nav ul li {
    padding: 0 40px;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

nav a:hover {
    color: #cdf0ff;
    text-decoration: underline;
}

.titulos-principais {
    font-family: league spartan;
    margin: auto;
    color: #f0f0f0;
    background-image: url("imagens/fundo-titulos.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 30%;
    padding: 20px;
}

main {
    font-family: quicksand;
    padding: 20px;
    border-radius: 5px;
    margin: 0 10%;
}

article {
    padding: 40px;
}

#principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tabelas {
    border-collapse: collapse;
}

td {
    border: black 4px solid;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #005fa3;
}

main p {
    margin-bottom: 15px;
    text-align: justify;
}

#inicial {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
}

.imagens-ilustrativas {
    border: black 2px solid;
    border-radius: 10px;
}

#inicial img {
    display: inline-block;
    width: 50%;
}

#inicial p {
    font-size: medium;
    padding: 30px;
}

#tipos, #historia {
    font-family: league spartan;
    margin-top: 20px;
}

#historia {
    color: black;
}

#historia::after {
    content: url(imagens/simbolo-espadas.png);
    width: 30px;
    display: inline-block;
    position: relative;
    top: 13px;
    padding-left: 5px;
}


#tipos {
    color: #a41010;
}

#tipos::after {
    content: url(imagens/simbolo-coracoes.png);
    width: 30px;
    display: inline-block;
    position: relative;
    top: 13px;
    padding-left: 5px;
}

#imagem-rodape {
    display: block;
    margin: auto;
    width: 30%;
}
footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #a41010;
    color: white;
    font-family: quicksand;
}

#imagens-rodape {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
    left: -120px;
    font-family: league spartan;
}

#imagens-rodape > h2 {
    position: relative;
    top: 180px;
    left: 50px
}

#logo-rodape {
transition: linear 600ms opacity;
opacity: 1;
}

#logo-rodape:hover {
    opacity: 0;
}
footer div {
    display: flex;
    justify-content: center;
}

footer img {
    position: absolute;
    width: 200px;
    height: auto;
}
